
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal{
    flex: 0 0 97%;
   
}


.resultbox{
    width: 99.5%;
    background-color:crimson ;
    font-size: 4rem;
    color: white;
    outline: none;
}
    
.y{
    width: auto;
    padding: 12px;
    margin: 0px;
    background-color: yellowgreen;
    color: white;
}
.G{
    width:auto;
    padding: 12px;
    margin: 0px;
    background-color: grey;
    color: black
    
}
.r{
    width: auto;
    padding: 12px;
    margin: 0px;
    background-color:green;
}
.C{
    width: auto;
    padding: 12px;
    margin: 0px;
    background-color:red; 
}
.buttons{
    font-size: 7rem;
    display: flex;
    flex-wrap: wrap;
    transition: width 3s;
    
}
.buttons:hover{
    width: auto;
}
button{
    flex: 0 0 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
    font-size: large;
}
    
	


    
   




    
